@media handheld,
only screen and (max-width: 1500px) {
	.layout-wide .crumbs:before {
		left: 15%;
	}
	.filter-title {
		top: 28%;
		left: 0%;
		margin-left: 0;
		width: 100%;
	}
	.title-header h1 {
		font-size: 4rem;
		line-height: 4.3rem;
	}
	.filter-header {
		max-width: 80%;
	}
}
@media handheld,
only screen and (max-width: 1250px) {
	.flat-mega-menu>ul>li>a {
		padding-left: 8px;
		padding-right: 8px;
		font-size: 0.78rem;
	}
	.flat-mega-menu>ul>.title i {
		right: 20%;
	}
	.filter-title {
		top: 28%;
		left: 0%;
		margin-left: 0;
		width: 100%;
	}
	.title-header h1 {
		font-size: 3.5rem;
		line-height: 3.7rem;
	}
	.layout-semiboxed .flat-mega-menu .container,
	.layout-semiboxed footer .container {
		width: auto!important;
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
}
@media handheld,
only screen and (max-width: 1024px) {
	.section-title {
		height: 290px;
	}
	.semiboxshadow img {
		display: none;
	}
}
@media handheld,
only screen and (max-width: 999px) {
	html {
		font-size: 14px;
	}
	header {
		position: relative;
	}
	.content-info {
		max-width: auto;
		margin-top: 0;
		margin-bottom: -120px;
	}
	.layout-wide .content-info {
		max-width: auto;
	}
	.layout-wide .semiboxshadow {
		display: none;
	}
	.layout-boxed-margin {
		max-width: 1230px;
		margin: 0 auto;
	}
	.footer-down,
	.footer-down ul,
	header {
		text-align: center;
	}
	footer h4,
	.post-item h4 {
		margin-top: 20px;
	}
	.img-footer {
		margin-top: 60px;
	}
	.footer-v3 .img-footer {
		margin-top: 0;
		margin-bottom: 0;
	}
	.header {
		background: rgba(0, 0, 0, 0.7);
		max-height: 2000px!important;
	}
	.flat-mega-menu>ul>.title>a {
		padding-left: 0;
		padding-right: 0;
	}
	.flat-mega-menu>ul>.title i {
		right: 40%;
	}
	.flat-mega-menu>ul>li>a {
		font-size: 1rem;
	}
	.filter-title {
		top: 35%;
		left: 10%;
		margin-left: -5%;
		width: 90%;
	}
	.title-header h1 {
		font-size: 3rem;
		line-height: 3.4rem;
	}
	.title-header p {
		max-width: 700px;
	}
	.filter-header {
		max-width: 100%;
	}
	.content-central {
		margin-top: -50px;
		margin-bottom: -150px;
	}
	.services-lines {
		width: 100%;
		margin-top: 0;
	}
	.services-lines-info {
		text-align: center;
	}
	.services-lines-info p.lead .line {
		margin: 10px auto;
	}
	.promotion-box {
		max-width: 350px;
		margin: 0 auto 30px auto;
	}
	.info-testimonial {
		width: 100%;
		margin-left: 0;
	}
	#slide-features .btn {
		margin-bottom: 20px;
	}
	footer {
		text-align: center;
	}
	.testimonial-info {
		text-align: center;
		padding: 20px 0 20px 0;
	}
	.content-boxes .item-boxed {
		width: 100%;
	}
	footer .input-group {
		margin-bottom: 20px;
	}
	.footer ul.nav-footer {
		margin-top: 5px;
		text-align: center;
	}
	.section-title-01 h1 {
		padding-top: 80px;
	}
	.section-title-02,
	.section-title-03 {
		text-align: center;
		height: 300px;
	}
	.section-title-02 .crumbs,
	.section-title-03 .crumbs {
		padding: 0;
		text-align: center;
	}
	.section-title-03 h1 {
		padding: 110px 0 10px 0;
	}
	.section-title-03 .crumbs ul {
		margin: 10px auto;
		padding: 10px;
		list-style: none;
	}
	.item-table {
		margin: 0 auto 30px auto;
		max-width: 380px;
		border: 1px solid #dedede!important;
	}
}
@media handheld,
only screen and (max-width: 999px) {
	.header,
	.header.is-sticky {
		background-color: #1cabec;
	}
	p {
		padding: 0;
		margin: 0;
	}
	h2 {
		font-size: 1.5rem;
	}
	.flat-mega-menu img {
		width: 105px;
		border-radius: 0;
		height: 60px;
	}
	.logo-shadow {
		border-right: 0;
		border-bottom: 0;
		border-left: 0;
	}
	.flat-mega-menu>ul>li {
		min-height: 35px;
		border-bottom: 1px solid #fff;
	}
	.header.is-sticky .flat-mega-menu>label {
		color: #fff;
	}
	.flat-mega-menu>ul>li,
	.flat-mega-menu>ul>li>a,
	.header.is-sticky .flat-mega-menu>ul>li,
	.header.is-sticky .flat-mega-menu>ul>li>a {
		line-height: 35px;
		color: #fff;
	}
	.services-lines-info {
		padding-top: 10px;
	}
	.services-lines-info p.lead {
		margin: 0 0 10px 0;
	}
	.services-lines li .item-service-line {
		padding: 43px 0;
	}
	.services-lines-info p {
		margin-bottom: 10px;
	}
	.titles {
		margin: 30px 0 -15px 0!important;
	}
	.titles h2 {
		font-size: 1.3rem;
	}
	.titles h2 span {
		font-size: 1.8rem;
		font-weight: 400;
	}
	.titles i {
		font-size: 5.5rem;
	}
	.content-boxes .item-boxed {
		margin-bottom: 10px;
	}
	.info-boxed {
		padding: 10px 20px;
	}
	hr.separator {
		margin: 10px auto 10px auto!important;
	}
	hr.tall {
		margin: 25px auto;
	}
	.item-feature {
		margin-bottom: 15px;
	}
	.item-feature .head-feature i {
		font-size: 2.0rem;
	}
	.item-feature .head-feature .title-feature {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	.item-feature .head-feature i.left-icon {
		left: -30px;
		top: -20px;
	}
	.item-feature .head-feature i.right-icon {
		right: -35px;
		bottom: -35px;
	}
	.title-feature .dollar-width {
		width: 50px;
	}
	.padding-bottom {
		padding-bottom: 0;
	}
	.padding-bottom p {
		margin-bottom: 15px;
	}
	.layout-semiboxed #slide-features .container {
		margin: 0;
	}
	.info-testimonial {
		padding: 0 10px 10px 10px;
		margin-top: 15px;
	}
	.info-testimonial p {
		margin-bottom: 10px;
		line-height: 1.3rem;
	}
	.info-testimonial h4 {
		margin-top: 5px;
	}
	.info-testimonial p i {
		font-size: 30px;
	}
	.info-testimonial p i.fa-quote-left {
		left: -30px;
	}
	.info-testimonial p i.fa-quote-right {
		right: -20px;
	}
	.testimonial-info p {
		padding: 5px;
	}
	.footer {
		margin-top: 30px!important;
	}
	.footer h3 {
		padding-bottom: 0;
		text-align: left;
	}
	.footer ul {
		text-align: left;
		margin-bottom: 10px;
	}
	.footer ul li {
		line-height: 30px;
	}
	.footer-down {
		margin-top: 10px;
		padding: 0;
	}
	.footer-down p {
		font-size: 0.9rem;
		padding-top: 5px;
	}
	.footer-down ul li {
		margin: 0;
		line-height: 25px;
	}
	.footer-down ul li a {
		font-size: 0.8rem;
	}
	.nav-footer li:before {
		margin: 0;
	}
	.footer-down ul {
		padding-bottom: 5px;
	}
	.section-title-01 {
		height: 230px;
	}
	.section-title-01 h1 {
		font-size: 1.5rem;
		line-height: 24px;
	}
	.padding-sides {
		padding: 10px 30px!important;
	}
	.services-lines-info h2 {
		font-size: 1.5rem;
		padding: 5px 0 5px 0;
	}
	.paddings {
		padding: 10px 0;
	}
	.img-hover {
		padding-top: 10px;
	}
	.lead {
		margin: 0;
	}
	p.lead .line {
		margin: 10px;
	}
	.item-number-info {
		margin: 12px auto;
	}
	.paddings-mini {
		padding: 0;
	}
	.portfolioFilter {
        margin: 15px auto 20px auto;
        text-align: left;
	}
	.portfolioFilter a {
		margin: auto 5px;
		font-size: 0.9rem;
	}
	.info-gallery {
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.info-gallery .separator {
		margin: 2px auto!important;
	}
	.section-title-02 {
		height: 180px;
	}
	.section-title-02 h1 {
		font-size: 1.5rem;
		line-height: 24px;
	}
	.paddings-mini h4 {
		font-size: 1.2rem;
		margin: 10px 0 5px 0;
		padding: 0;
	}
	.paddings-mini h3 {
		padding: 0 0 10px 0;
	}
	.paddings-mini address {
		line-height: 25px;
		margin-bottom: 5px;
	}
	.form-theme input {
		margin-bottom: 5px;
	}
	.form-theme .btn {
		margin: 10px 0 5px 0!important;
	}
	.map{
		margin-top: 15px;
	}
	.map iframe{
		width: 100%;
		height: 300px;
		border: 2px solid #777; 
	}
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .portfolioContainer{
        width: 100%!important;
    }
 }
@media handheld,
only screen and (max-width: 600px) {
	.flat-mega-menu>ul>.title i {
		display: none!important;
	}
	.filter-title {
		top: 40%;
	}
	.filter-header {
		max-width: 100%;
		height: auto;
		overflow: auto;
	}
	.content-central {
		margin-top: 0;
		margin-bottom: -150px;
	}
	.padding-gallery-bottom {
		padding-bottom: 15px;
	}
	.title-header h1 {
		font-size: 2rem;
		line-height: 2.4rem;
	}
	.filter-header .input-large {
		width: 40%;
	}
	.filter-header .date-input {
		width: 20%;
		font-size: 0.7rem;
		border-top: 1px solid #dedede;
	}
	.filter-header .selector {
		width: 20%;
		border-top: 1px solid #dedede;
	}
	.filter-header input[type="submit"] {
		width: 100%;
	}
	.content-boxes .item-boxed {
		margin-bottom: 0;
		display: block;
		height: auto;
	}
	.image-boxed {
		float: none!important;
		width: 100%!important;
		display: block!important;
	}
	.image-boxed img {
		width: 100%!important;
	}
	.info-boxed {
		width: 100%!important;
		top: 0;
		margin-bottom: 0;
		height: auto;
		position: relative;
	}
	.info-boxed p {
		margin-bottom: 0;
	}
	.boxed-bottom {
		border-bottom: 0!important;
	}
	.boxed-top {
		border-top: 0!important;
	}
	.services-lines li {
		width: 33.33%;
	}
	.image-boxed a.more-boxe {
		top: 60%;
	}
}
@media handheld,
only screen and (max-width: 470px) {
	.title-header p,
	.title-header h1 {
		display: none;
	}
	.filter-header .input-large {
		width: 100%;
	}
	.filter-header .date-input {
		width: 100%;
		font-size: 0.7rem;
	}
	.filter-header .selector {
		width: 100%;
	}
	.filter-header input[type="submit"] {
		width: 100%;
	}
	.services-lines li {
		width: 50%;
	}
}