.logo-shadow{position:absolute;height:33px;width:173px;top:60px;border-radius:0 0 10px 10px;}
.btn-primary,
.btn-primary:hover,
.flat-mega-menu .drop-down.full-width ul li a.btn,
.filter-header input[type="submit"],
.ui-widget-header,
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover,
.flat-mega-menu .login-form input[type=submit],
.flat-mega-menu .search-bar ul input[type=submit],
.skin_base,
.promotion-box-info .btn,
.list-styles li i,
.info-gallery .price b,
.widget .input-group-addon.btn-search input,
.header-v2,
.info-head,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li a:hover,
.sort-by-container .style-view li:hover,
.sort-by-container .style-view li.active,
.selector span.custom-select:before,
.slider-selection,
.filter-widget input[type="submit"],
.tabs-detailed .services-lines li:hover,
.pagination>.active>a,
.pagination .active,
.tooltip-inner,
.owl-theme .owl-controls .owl-buttons div,
#theme-options .layout-style li.active,
.thumbs li:hover,
p.lead .line,
.filter-header,
.filter-header input[type="button"]{background:#1cabec!important;background-color:#1cabec!important;}
.info-testimonial-grey{background-color:#f5f6fa;}
.info-testimonial-blue{background-color:#1cabec;}
.opacy_bg_03,
.item-team-01 .info-team,
.header-detailed{background:#1cabec;background:rgba(52, 171, 236, 0.8);}
.item-service-line i,
.titles h2 span,
.info-boxed h3 span,
.price span,
.title-footer h2 span,
.flat-mega-menu>ul>.title>a>span,
.flat-mega-menu>ul>.title i,
.icon-big-nav i,
.ui-datepicker th,
.head-feature,
.flat-mega-menu>ul>li:hover>a,
.footer ul li i,
.footer-v2 ul li i,
.footer-v3 ul li i,
.footer-v4 ul li i,
.flat-mega-menu>ul>li:hover>a,
.flat-mega-menu .login-form:hover,
.flat-mega-menu .search-bar:hover,
.item-team h4 span,
.item-team-01 .social-team li a:hover,
.large-number,
.info-gallery h3 span,
.post-format-icon>i,
.post-item .post-title a:hover,
.post-meta a:hover,
.post-quote-author a,
.single-blog h4 i,
.single-blog h4 a,
.footer-down ul li a:hover,
.nav-tabs li i,
.container-by-widget-filter h4,
.title-results a,
blockquote>a,
.tweet_time a,
.tweet_text a,
.acc-trigger a:hover,
.acc-trigger.active a,
.acc-trigger.active a:hover,
.crumbs li a,
.page-error h1 i,
.sitemap li a:hover,
.pagination>li>a,
.pagination>li>span,
address i,
address a{color:#1cabec!important;}
.pagination>.active>a,
.pagination>.active:hover>a,
.filter-header,
.flat-mega-menu h2 span,
.ui-datepicker,
.crumbs ul,
.portfolioFilter .current,
.portfolioFilter a:hover,
.post-format-icon>i,
.section-title-03 h1,
.title-widget{border-color:#1cabec!important;}
.crumbs:before{border-bottom:20px solid #1cabec;}
.tooltip.top .tooltip-arrow{border-top-color:#1cabec;}
.flat-mega-menu .drop-down,
.flat-mega-menu .social-bar ul{border-bottom-color:#1cabec;}
.nav-tabs li.active:after{border:16px solid #1cabec;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent;content:"";left:50%;margin-left:-16px;position:absolute;z-index:101;}
.title-widget:after{border-top:15px solid #1cabec;}
